// base color
$blue:#00b96b;
$light-blue:#52c41a;
$red:#ff4d4f;
$pink: #ff85c0;
$green: #00b96b;
$tiffany: #36cfc9;
$yellow:#faad14;
$panGreen: #00b96b;

// 默认菜单主题风格
$base-menu-color: rgba(255, 255, 255, 0.65);
$base-menu-color-active: #ffffff;
$base-menu-background: #001529; // 深蓝近黑
$base-logo-title-color: #ffffff;

$base-menu-light-color: rgba(0, 0, 0, 0.65);
$base-menu-light-background: #ffffff;
$base-logo-light-title-color: #000000;

$base-sub-menu-background: #000c17;
$base-sub-menu-hover: rgba(255, 255, 255, 0.05);

$base-sidebar-width: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuColor: $base-menu-color;
  menuLightColor: $base-menu-light-color;
  menuColorActive: $base-menu-color-active;
  menuBackground: $base-menu-background;
  menuLightBackground: $base-menu-light-background;
  subMenuBackground: $base-sub-menu-background;
  subMenuHover: $base-sub-menu-hover;
  sideBarWidth: $base-sidebar-width;
  logoTitleColor: $base-logo-title-color;
  logoLightTitleColor: $base-logo-light-title-color
}
